<!DOCTYPE html>
<html>
    <head>
    <title>Santa Spotters</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
        <script type="text/javascript" src="/javascripts/jquery.js"></script>
        <script type="text/javascript" src="/javascripts/script.js"></script>
    </head>
	<body>
		<div id="header"> 
		    <div id="header-content">            
		    	<div class="logged right">
			        <% if(typeof username !== 'undefined'){%>
			                <div class="logged-as">
			                    <span class="welcome">Welcome, </span>
			                    <span class="username"><%=username%>!</span>
			                    <a href="/profile/logout">Sign Out</a>
			                </div>
			        <%}else{%>
			            <form method="POST" action="/profile/login" class="login-form">
			                <input class="field" type="text" name="username" placeholder="username" /><br/>
			                <input class="field" type="password" name="password" placeholder="password" /><br/>
			                <input type="submit" value="login" class="submit-btn right"/>
			            </form>

			        <%}%>
			    </div>                
			    <img src="/images/logo.png" class="logo">
                </div>
		    <div class="navDiv">
		        <ul class="main-nav">
		            <li><a href="/">HOMEPAGE</a></li>
		            <li><a href="/spottings">LATEST SPOTTINGS</a></li>
		            <%if(typeof username !== 'undefined'){%>
		            <li><a href="/profile">USER PROFILE</a></li>
		            <%}%>
		            <%if(typeof usertype !== 'undefined' && usertype == 'admin'){%>
		            <li><a href="/admin">ADMIN</a></li>
		            <%}%>
		        </ul>
		    </div>
	    </div>
