<% include ./partials/header %>
<% include ./partials/sidebar %>
  <div class="wrapper home">
    
        <p><h4>Welcome to our super-secret Santa Spotters website!</h4></p>
        <p><Unless you reached this site accidentally there is good chance that you would like to join our secret club.</p>
		<p>This website gives you latest information about Santa activities from North Pole and later on from across the world.</p>
        <p>With the festive season fast approaching, it is well known fact that Santa and his little helpers' army are busy preparing 
        for big event on the 25th of December.</p>
    <p>We have full faith in their capabilities, but in order to put our minds at ease, we decided to infiltrate their camp and have our 
    spies monitoring their every movement and regularly reporting back the juiciest bits.</p>
        <p><h4>How will you get access to this information?</h4></p>
		<p>Information is being updated on this website on a regular basis but in order to see that, you have to join our secret club by contacting us 
    first via one of the Social Networking platforms listed on the right side of the page.
    <p> Carry out the following instructions:</p>
        <ul>
          <li>Contact us first</li>
          <li>You will receive your login credentials</li>
          <li>Our spies update the page regularly</li>

        </ul>
        <p><h5>Once you have your login details please don't forget to keep yourself up-to-date by visiting
        <a href="/spottings">Latest Spottings</a> page.</h5></p>
        
      
  </div>

<% include ./partials/footer %>
